In [ ]:
#examples of Lists
fruits = ['apple', 'kiwi', 'banana', 'orange']
fruits

In [1]:
fruits = ['apple', 'kiwi', 'banana', 'orange']
fruits

['apple', 'kiwi', 'banana', 'orange']

In [ ]:
#this example shows how lists can be made up of different data types
names_age = ['ada', 23, 'ella', 20, 'favour', 2.4, '2024-10-31', False]
names_age

['ada', 23, 'ella', 20, 'favour', 2.4, '2024-10-31', False]

In [ ]:
#accessing a list using the negative indexing
names_age[-1]

False

In [ ]:
#accessing the datatype for "false"
type(names_age[-1])

bool

In [3]:
#creating a nested list
food = []
drinks = ['fanta', 'fresh yo', 'chi active']
cereal = ['cheerios', 'rice krispies', 'cornflakes', 'golden morn']

print(food)

[]

In [2]:
print(drinks)

['fanta', 'fresh yo', 'chi active']

In [ ]:
drinks[1]

In [4]:
type(food)

list

In [5]:
print(cereal)

['cheerios', 'rice krispies', 'cornflakes', 'golden morn']

In [ ]:
#example of a nested list
cereal = ['cheerios', 'rice krispies', 'cornflakes', 'golden morn',['coco pops', 'quaker oat'], 'granula']
cereal

['cheerios',
 'rice krispies',
 'cornflakes',
 'golden morn',
 ['coco pops', 'quaker oat'],
 'granula']

In [ ]:
#accessing an item in a list with the index number
cereal[0]

'cheerios'

In [10]:
cereal[1]

'rice krispies'

In [11]:
cereal[-1]

['coco pops', 'quaker oat']

In [12]:
cereal[2]

'cornflakes'

In [13]:
cereal[4]

['coco pops', 'quaker oat']

In [15]:
cereal[5]

'granula'

In [16]:
cereal[4]

['coco pops', 'quaker oat']

In [20]:
cereal[4][0]

'coco pops'

In [ ]:
#more examples of nested lists
country = ['united states', 'united kingdom',['japan','nigeria'],['uganda','south africa'],['russia',['france','spain','brazil'],'australia'],'ghana']
country

['united states',
 'united kingdom',
 ['japan', 'nigeria'],
 ['uganda', 'south africa'],
 ['russia', ['france', 'spain', 'brazil'], 'australia'],
 'ghana']

In [ ]:
#accessing items in a nested list with its index numbers
country[4]

['russia', ['france', 'spain', 'brazil'], 'australia']

In [28]:
country[4][1]

['france', 'spain', 'brazil']

In [29]:
country[4][1][1]

'spain'

In [ ]:
#example of a nested list
country

['united states',
 'united kingdom',
 ['japan', 'nigeria'],
 ['uganda', 'south africa'],
 ['russia', ['france', 'spain', 'brazil'], 'australia'],
 'ghana']

In [ ]:
#accessing an item in a nested list with its index number
country[4][-1]

'australia'

In [33]:
country[4][-1]='argentina'
country[4][-1]

'argentina'

In [ ]:
#example of a nested list
country

['united states',
 'united kingdom',
 ['japan', 'nigeria'],
 ['uganda', 'south africa'],
 ['russia', ['france', 'spain', 'brazil'], 'argentina'],
 'ghana']

In [ ]:
#accessing an item with its index number
country[2]

['japan', 'nigeria']

In [36]:
country[2][0]

'japan'

In [ ]:
#changing an item in a list..changing "japan" to "china"
country[2][0]='china'
country[2][0]

'china'

In [44]:
country

['united states',
 'united kingdom',
 ['china', 'nigeria'],
 ['uganda', 'south africa'],
 ['russia', ['france', 'spain', 'brazil'], 'argentina'],
 'ghana']

In [ ]:
#accessing a list using the string slicing method
country[0:2]

['united states', 'united kingdom']

In [46]:
country[2:5]

[['china', 'nigeria'],
 ['uganda', 'south africa'],
 ['russia', ['france', 'spain', 'brazil'], 'argentina']]

In [ ]:
#example of a nested list
country

['united states',
 'united kingdom',
 ['china', 'nigeria'],
 ['uganda', 'south africa'],
 ['russia', ['france', 'spain', 'brazil'], 'argentina'],
 'ghana']

In [ ]:
#accessing an item in a list with its index number
country[4]

['russia', ['france', 'spain', 'brazil'], 'argentina']

In [50]:
country[4][1]

['france', 'spain', 'brazil']

In [ ]:
#changing the value of an item in a list. here, "libya" was used to replace "France"
country[4][1][0]='libya'
country

['united states',
 'united kingdom',
 ['china', 'nigeria'],
 ['uganda', 'south africa'],
 ['russia', ['libya', 'spain', 'brazil'], 'argentina'],
 'ghana']

# h5 LIST_METHODS

In [54]:
#using the .append list method
#.append list method is used to add an element at the end of a list

student1 = ['Godwin', 24, 'Data science']
students = ['Abuja', '1.75', 'dark']
student1.append(students)

In [58]:
student1

['Godwin',
 24,
 'Data science',
 ['Abuja', '1.75', 'dark'],
 ['Abuja', '1.75', 'dark']]

In [56]:
students

['Abuja', '1.75', 'dark']

In [57]:
student1.append(students)

In [59]:
#.extend list method. it is used to add the elements of a list to the end of the current list. 

fruits = ['apple', 'banana', 'cherry']

cars = ['ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'ford', 'BMW', 'Volvo']

In [ ]:
name = "i'm Ada"
print(len(name))

7

In [2]:
message = 'python is fun'
print(len(message))

13

In [ ]:
#Examples using the .upper method which converts a string to uppercase, the .lower method which converts a string to lowercase and the .title method which capitalizes all first letters in each word of a string.
print(message.upper())
print(message.lower())
print(message.title())
print(message.title())

PYTHON IS FUN
python is fun
Python Is Fun
Python Is Fun

In [9]:
fruits = 'apple', 'kiwi', 'pawpaw'
print(fruits)

('apple', 'kiwi', 'pawpaw')

In [10]:
fruits[2]

'pawpaw'

In [11]:
fruits[-2]

'kiwi'

In [ ]:
#an example containing different datatypes
Information = 'ada', 24, 'nigeria', True
print(Information)

('ada', 24, 'nigeria', True)

In [ ]:
#accessing the datatype of a value using its index number
type(Information[-1])

bool

In [ ]:
#accessing the datattype of a value using its index number
type(Information[1])

int

In [ ]:
#example of a list
food = []
drinks = ['ribena', 'lucozade boost', 'chi-active', 'fresh yo']
cereal = ['cheerios', 'golden morn', 'rice krispies']
print(food)

[]

In [16]:
print(drinks)

['ribena', 'lucozade boost', 'chi-active', 'fresh yo']

In [17]:
print(cereal)

['cheerios', 'golden morn', 'rice krispies']

In [ ]:
#example of a nested list
cereal = ['cheerios', 'golden morn',['cornflakes', 'granula'], 'rice krispies']

In [21]:
cereal

['cheerios', 'golden morn', ['cornflakes', 'granula'], 'rice krispies']

In [ ]:
#accessing an item in a nested list
cereal[2]

['cornflakes', 'granula']

In [25]:
cereal[2][1]

'granula'

In [ ]:
#using the string slicing method to access an item in a nested list
cereal[0:1]

['cheerios']

In [ ]:
#example of a nested list
country = ['united kingdom', 'united states', ['india','egypt'],['ukraine','hungary'],['egypt', 'russia'],'nigeria','ghana']
country

['united kingdom',
 'united states',
 ['india', 'egypt'],
 ['ukraine', 'hungary'],
 ['egypt', 'russia'],
 'nigeria',
 'ghana']

In [ ]:
#using the string slicing method to access an item in a nested list
country[2:5]

[['india', 'egypt'], ['ukraine', 'hungary'], ['egypt', 'russia']]

In [ ]:
students1 = ['moses', 24, 'data science']
students = ['abuja','1.75','dark']

In [39]:
students1

['moses', 30, 'data science', ['abuja', '1.75', 'fair']]

In [40]:
students

['abuja', '1.75', 'fair']

In [ ]:
students1.append(students)

In [ ]:
#using the .extend method
fruits = ['mango', 'banana', 'orange']
animals = ['dog','cat', 'antelope']
fruits.extend(animals)
fruits

['mango', 'banana', 'orange', 'dog', 'cat', 'antelope']

In [47]:
#EXAMPLE OF LISTS
ANIMALS = ['DOG', 'CAT','TIGER']
ANIMALS

['DOG', 'CAT', 'TIGER']

In [ ]:
#accessing a list using its index number
ANIMALS[2]

'TIGER'

In [ ]:
#accessing a list using negative indexing
ANIMALS[-1]

'TIGER'

In [ ]:
#example of a nested list
COUNTRY = ['UNITED KINGDOM','UNITED STATES',['GHANA','NIGERIA'],['RUSSIA','UKRAINE'],['INDIA','EGYPT'],'CAMEROON']
COUNTRY

['UNITED KINGDOM',
 'UNITED STATES',
 ['GHANA', 'NIGERIA'],
 ['RUSSIA', 'UKRAINE'],
 ['INDIA', 'EGYPT'],
 'CAMEROON']

In [ ]:
#accessing a nested list using its index number 
COUNTRY[2][0]

'GHANA'

In [ ]:
#accessing a list using string slicing method
COUNTRY[2:5]

[['GHANA', 'NIGERIA'], ['RUSSIA', 'UKRAINE'], ['INDIA', 'EGYPT']]

In [ ]:
#replacing an item in a list. replacing "ghana" with "Algeria"
COUNTRY[2][0] = 'ALGERIA'
COUNTRY

['UNITED KINGDOM',
 'UNITED STATES',
 ['ALGERIA', 'NIGERIA'],
 ['RUSSIA', 'UKRAINE'],
 ['INDIA', 'EGYPT'],
 'CAMEROON']

In [ ]:
#using the .append and .extend method
student = ['godwin', 24,'data science']
students = ['abuja', '1.75','dark']

In [73]:
print(student)

['godwin', 24, 'data science']

In [74]:
student.append(students)

In [75]:
student

['godwin', 24, 'data science', ['abuja', '1.75', 'dark']]

In [77]:
student.extend(students)

In [79]:
print(student)

['godwin', 24, 'data science', ['abuja', '1.75', 'dark'], 'abuja', '1.75', 'dark', 'abuja', '1.75', 'dark']

In [ ]:
#using the .clear and .copy method
cars = ['toyota', 'bmw', 'ford']
new_cars = cars
new_cars

['toyota', 'bmw', 'ford']

In [82]:
new_cars.clear()

In [83]:
new_cars

[]

In [84]:
cars

[]

In [92]:
cars = ['toyota', 'bmw', 'ford']
cars

['toyota', 'bmw', 'ford']

In [93]:
cars2 = cars.copy()

In [94]:
cars2

['toyota', 'bmw', 'ford']

In [95]:
cars2.clear()

In [96]:
cars2

[]

In [97]:
cars

['toyota', 'bmw', 'ford']

In [ ]:
#using the count method
points = [1, 2, 3, 4, 5, 6, 3, 4, 5]
x = points.count(4)
print(x)

2

In [ ]:
#using the .index method
num = [4,55, 64, 32, 16, 32]

x = num.index(32)
print(x)

3

In [101]:
x = num.index(55)
print(x)

1

In [104]:
num.index(55)

1

In [108]:
num.index(32)

3

In [141]:
#using the .insert method
fruits = ['apple', 'banana', 'cherry']
fruits.insert(2, 'orange')
print(fruits)

['apple', 'banana', 'orange', 'cherry']

In [137]:
fruits = ['apple', 'banana', 'guava']
fruits.insert(3, 'grape')
print(fruits)

['apple', 'banana', 'guava', 'grape']

In [138]:
#using the .pop method
x = fruits.pop(1)
print(fruits)

['apple', 'guava', 'grape']

In [139]:
fruits.pop()
print(fruits)

['apple', 'guava']

In [144]:
fruits

['apple', 'banana', 'orange', 'cherry']

In [146]:
fruits.remove('banana')
print(fruits)

['apple', 'orange', 'cherry']

In [ ]:
#using the .delete method also removes the specified index
new = ['rice', 'beans', 'turkey']
del new[0]
print(new)

['beans', 'turkey']

In [147]:
#using the delete keyword to delete the entire list
food = ['rice', 'beans', 'turkey']
del food

In [148]:
#the output gives an error because the variable food has been deleted
print(food)

NameError: name 'food' is not defined

In [ ]:
#using the .reverse method
food = ['rice', 'turkey', 'chicken']
food.reverse()
print(food)

['chicken', 'turkey', 'rice']

In [122]:
food.reverse()
food

['chicken', 'turkey', 'rice']

In [123]:
#using .sort method
makeup = ['powder','mascara','eyeliner','blush','lipstick','foundation','eye-pencil']
makeup.sort()
print(makeup)

['blush', 'eye-pencil', 'eyeliner', 'foundation', 'lipstick', 'mascara', 'powder']

In [125]:
makeup.sort(reverse=True)
print(makeup)

['powder', 'mascara', 'lipstick', 'foundation', 'eyeliner', 'eye-pencil', 'blush']

In [127]:
makeup.sort(reverse=False)
print(makeup)

['blush', 'eye-pencil', 'eyeliner', 'foundation', 'lipstick', 'mascara', 'powder']

In [ ]:
makeup[2]

'eyeliner'

In [ ]:
#an example using the while loop
a = 0
b = 3
while a < b:
    print(a)
    a = a + 1

0
1
2

In [152]:
a = 0
b = 3
while a < b:
      a = a + 1
print(a)

3

In [ ]:
#example of a list
Fruits = ['apple', 'kiwi', 'banana', 'orange']
Fruits

['apple', 'kiwi', 'banana', 'orange']

In [ ]:
#accessing a list using index number
Fruits[1]

'kiwi'

In [ ]:
#accessing a list using reverse indexing
Fruits[-1]

'orange'

In [ ]:
#example of a list
Food = ['cereal', 'fruits','drinks']
Food = ['sugar',['cornflakes','golden morn','granola','quaker oat']]
print(Food)

['sugar', ['cornflakes', 'golden morn', 'granola', 'quaker oat']]

In [ ]:
#accessing a list using the index and string slicing method
Food[1][1:3]

['golden morn', 'granola']

In [ ]:
#using the .append method
Drinks = ['cereal', 'fruits','coke']
Food = ['sugar',['cornflakes','golden morn','granola','quaker oat']]

In [9]:
Drinks.append(Food)

In [11]:
Drinks

['cereal',
 'fruits',
 'coke',
 ['sugar', ['cornflakes', 'golden morn', 'granola', 'quaker oat']]]

In [12]:
Drinks = ['cereal', 'fruits','coke']

In [ ]:
#using the .clear method
Drinks.clear()
print(Drinks)

[]

In [14]:
Drinks

[]

In [ ]:
#using the .copy method
Food = ['sugar',['cornflakes','golden morn','granola','quaker oat']]
new_food = Food.copy()

In [17]:
new_food

['sugar', ['cornflakes', 'golden morn', 'granola', 'quaker oat']]

In [21]:
Food = ['sugar',['cornflakes','golden morn','granola','quaker oat']]
Food.count('sugar')

1

In [ ]:
#using the .count method
numbers = (2, 5, 2, 4, 6, 6, 8, 6, 10)
numbers.count(6)

3

In [ ]:
#using the .extend method
Drinks = ['cereal', 'fruits','coke']
Food = ['sugar',['cornflakes','golden morn','granola','quaker oat']]
Drinks.extend(Food)

In [27]:
Drinks

['cereal',
 'fruits',
 'coke',
 'sugar',
 ['cornflakes', 'golden morn', 'granola', 'quaker oat']]

In [ ]:
#using the .index method
Drinks = ['cereal', 'fruits','coke']
Drinks.index('fruits')

1

In [33]:
Drinks

['cereal', 'fruits', 'corn', 'coke']

In [ ]:
#using the .insert method
Drinks.insert(2, 'corn')

In [41]:
Drinks

['cereal', 'corn', 'corn']

In [ ]:
#using the .pop method
Drinks.pop(1)

'fruits'

In [ ]:
#using the .remove method
Drinks.remove('coke')

In [9]:
Food = ['sugar','cornflakes','golden morn','granola','quaker oat']
#Food.reverse()

In [10]:
Food

['sugar', 'cornflakes', 'golden morn', 'granola', 'quaker oat']

In [ ]:
#using the .sort method
Food.sort()

In [12]:
Food

['cornflakes', 'golden morn', 'granola', 'quaker oat', 'sugar']

In [ ]:
Food.sort(reverse=True)

In [16]:
Food

['sugar', 'quaker oat', 'granola', 'golden morn', 'cornflakes']

In [ ]:
#CREATE A TUPLE. 
#an example of a tuple
new_tuple = ("apple", "banana", "cherry")
print(new_tuple)

('apple', 'banana', 'cherry')

In [ ]:
#accessing a tuple using its index number
new_tuple[1]

'banana'

In [ ]:
#replacing a value in a tuple. 
new_tuple[1] = 'orange'

TypeError: 'tuple' object does not support item assignment

In [ ]:
#creating a tuple with only one item
Car = ('BMW',)
print(Car)

('BMW',)

In [ ]:
#example of a tuple
thistuple = ("apple", "banana", "Cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'Cherry', 'apple', 'cherry')

In [ ]:
#using the if else statement in creating a tuple
thistuple = ("apple", "banana", "cherry")
if "orange" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")
else:
    print("no, 'apple' is not in the fruits tuple")

no, 'apple' is not in the fruits tuple

In [ ]:
#Sets are written with curly brackets
#creating a set. Set is a collection which is unordered, unchangeable and unindexed.
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [ ]:
#example of a set
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [ ]:
#example of a set with an unordered output.
states = {"lagos", "Abia", "Akwa-ibom", "Abia", "Jigawa", "lagos","Ondo","Jigawa", "Abuja", "Jigawa"}
print(states)

{'Ondo', 'lagos', 'Abia', 'Jigawa', 'Akwa-ibom', 'Abuja'}

In [ ]:
#creating a dictionary.
food = {'fruits': 'orange',
        'drinks': ['chivita', 'yoghurt','milkshake'],
        'cereal': 'granola',
        'cereal': 'golden morn'
    }
print(food)

{'fruits': 'orange', 'drinks': ['chivita', 'yoghurt', 'milkshake'], 'cereal': 'golden morn'}

In [ ]:
student = {
    'name': ["Ada","Chioma","Angela"],
    'state': ("Abia","anambra","akwa-ibom"),
    'age' : (21,22,23),
    'subject':{"English","Mathematics","Igbo"}
          }
print(student)

{'name': ['Ada', 'Chioma', 'Angela'], 'state': ('Abia', 'anambra', 'akwa-ibom'), 'age': (21, 22, 23), 'subject': {'English', 'Mathematics', 'Igbo'}}

In [18]:
Brands = {
    'name':{'female':"Lisa",'male':"Wale"}
}
print(Brands)

{'name': {'female': 'Lisa', 'male': 'Wale'}}

In [20]:
#accessing a value in a dictionary
Brands['name']['female']

'Lisa'

In [26]:
#example of a dictionary
student

{'name': ['Ada', 'Lisa', 'Angela'],
 'state': 'country',
 'age': (21, 22, 23),
 'subject': {'English', 'Igbo', 'Mathematics'}}

In [22]:
#accessing a value in a dictionary 
student['name'][2]

'Angela'

In [23]:
student['name'][1] = 'Lisa'

In [24]:
student['state']='country'

In [25]:
#example of a dictionary
student

{'name': ['Ada', 'Lisa', 'Angela'],
 'state': 'country',
 'age': (21, 22, 23),
 'subject': {'English', 'Igbo', 'Mathematics'}}

In [27]:
student['score']=90

In [28]:
student

{'name': ['Ada', 'Lisa', 'Angela'],
 'state': 'country',
 'age': (21, 22, 23),
 'subject': {'English', 'Igbo', 'Mathematics'},
 'score': 90}

In [2]:
#example of a dictionary
food = {
    'fruits': ['orange', 'kiwi', 'strawberry'],
    'drinks': ('mango_juice', 'apple_juice', 'orange_juice'),
    'cereal': {'new_cereal': ['cornflakes', 'golden_morn'], 'new_drinks':['coke', 'fanta','bloody mary']}
}
food

{'fruits': ['orange', 'kiwi', 'strawberry'],
 'drinks': ('mango_juice', 'apple_juice', 'orange_juice'),
 'cereal': {'new_cereal': ['cornflakes', 'golden_morn'],
  'new_drinks': ['coke', 'fanta', 'bloody mary']}}

In [3]:
food['cereal']['new_drinks'][2]

'bloody mary'

In [4]:
#dictionary methods

#.values() returns a list of all the values in  a dictionry
food.values()

dict_values([['orange', 'kiwi', 'strawberry'], ('mango_juice', 'apple_juice', 'orange_juice'), {'new_cereal': ['cornflakes', 'golden_morn'], 'new_drinks': ['coke', 'fanta', 'bloody mary']}])

In [41]:
#.keys() returns a list containing the dictionary's keys
food.keys()

dict_keys(['fruits', 'drinks', 'cereal'])

In [42]:
#.items() returns a list containing a tuple for each key value pair
food.items()

dict_items([('fruits', ['orange', 'kiwi', 'strawberry']), ('drinks', ('mango_juice', 'apple_juice', 'orange_juice')), ('cereal', {'new_cereal': ['cornflakes', 'golden_morn'], 'new_drinks': ['coke', 'fanta', 'bloody mary']})])

In [43]:
#.update() updates the dictionary with the specified key-value pairs
food.update({'snacks':'coconut_candy'})

In [44]:
print(food)

{'fruits': ['orange', 'kiwi', 'strawberry'], 'drinks': ('mango_juice', 'apple_juice', 'orange_juice'), 'cereal': {'new_cereal': ['cornflakes', 'golden_morn'], 'new_drinks': ['coke', 'fanta', 'bloody mary']}, 'snacks': 'coconut_candy'}

In [45]:
food.update({'fruits':'apple'})

In [46]:
print(food)

{'fruits': 'apple', 'drinks': ('mango_juice', 'apple_juice', 'orange_juice'), 'cereal': {'new_cereal': ['cornflakes', 'golden_morn'], 'new_drinks': ['coke', 'fanta', 'bloody mary']}, 'snacks': 'coconut_candy'}

In [1]:
#.setdefault() method returns the value of a specified key,if the key doesn't exixt, insert the key with the specified value
car = {"brand": "Ford",
       "model": "Mustang",
       "year": 1964
       }

x = car.setdefault("year")
x

1964

In [2]:
y = car.setdefault('new_place')
y

In [3]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'new_place': None}

In [4]:
car.setdefault('color', 'white')

'white'

In [5]:
car['new_place']= 'Lokoja'
car

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'new_place': 'Lokoja',
 'color': 'white'}

In [6]:
#.pop() method removes the element with the specified key
car.pop("model")
car

{'brand': 'Ford', 'year': 1964, 'new_place': 'Lokoja', 'color': 'white'}

In [7]:
#pop.item removes the item that was last inserted into the dictionary.
car.popitem()
car

{'brand': 'Ford', 'year': 1964, 'new_place': 'Lokoja'}

In [8]:
#.get() returns the value of the specified key
x = car.get("brand")
x

'Ford'

In [9]:
#.fromkeys() method returns a dictionary with the specified keys and value
x = ('key 1', 'key 2', 'key 3')
y = (1, 2, 3)

newdit = dict.fromkeys(y, x)
print(newdit)

{1: ('key 1', 'key 2', 'key 3'), 2: ('key 1', 'key 2', 'key 3'), 3: ('key 1', 'key 2', 'key 3')}

In [10]:
#.copy() returns a copy of the dictionary
x = car.copy()
x

{'brand': 'Ford', 'year': 1964, 'new_place': 'Lokoja'}

In [11]:
#.clear() removes all the elements from the dictionary
x.clear()
x

{}

In [12]:
#an example using the .fromkeys method
x = ('Divine','Uche','John')
y = (1, 2, 3)

newdit = dict.fromkeys(y,x)
print(newdit)

{1: ('Divine', 'Uche', 'John'), 2: ('Divine', 'Uche', 'John'), 3: ('Divine', 'Uche', 'John')}