In [ ]:
fruits = ['apple', 'kiwi', 'banana', 'orange']
fruits

In [1]:
fruits = ['apple', 'kiwi', 'banana', 'orange']
fruits

['apple', 'kiwi', 'banana', 'orange']

In [3]:
names_age = ['ada', 23, 'ella', 20, 'favour', 2.4, '2024-10-31', False]
names_age

['ada', 23, 'ella', 20, 'favour', 2.4, '2024-10-31', False]

In [4]:
names_age[-1]

False

In [6]:
type(names_age[-1])

bool

In [3]:
#creating a nested list
food = []
drinks = ['fanta', 'fresh yo', 'chi active']
cereal = ['cheerios', 'rice krispies', 'cornflakes', 'golden morn']

print(food)

[]

In [2]:
print(drinks)

['fanta', 'fresh yo', 'chi active']

In [ ]:
drinks[1]

In [4]:
type(food)

list

In [5]:
print(cereal)

['cheerios', 'rice krispies', 'cornflakes', 'golden morn']

In [14]:
cereal = ['cheerios', 'rice krispies', 'cornflakes', 'golden morn',['coco pops', 'quaker oat'], 'granula']
cereal

['cheerios',
 'rice krispies',
 'cornflakes',
 'golden morn',
 ['coco pops', 'quaker oat'],
 'granula']

In [9]:
cereal[0]

'cheerios'

In [10]:
cereal[1]

'rice krispies'

In [11]:
cereal[-1]

['coco pops', 'quaker oat']

In [12]:
cereal[2]

'cornflakes'

In [13]:
cereal[4]

['coco pops', 'quaker oat']

In [15]:
cereal[5]

'granula'

In [16]:
cereal[4]

['coco pops', 'quaker oat']

In [20]:
cereal[4][0]

'coco pops'

In [ ]:
country = ['united states', 'united kingdom',['japan','nigeria'],['uganda','south africa'],['russia',['france','spain','brazil'],'australia'],'ghana']
country

['united states',
 'united kingdom',
 ['japan', 'nigeria'],
 ['uganda', 'south africa'],
 ['russia', ['france', 'spain', 'brazil'], 'australia'],
 'ghana']

In [27]:
country[4]

['russia', ['france', 'spain', 'brazil'], 'australia']

In [28]:
country[4][1]

['france', 'spain', 'brazil']

In [29]:
country[4][1][1]

'spain'

In [30]:
country

['united states',
 'united kingdom',
 ['japan', 'nigeria'],
 ['uganda', 'south africa'],
 ['russia', ['france', 'spain', 'brazil'], 'australia'],
 'ghana']

In [31]:
country[4][-1]

'australia'

In [33]:
country[4][-1]='argentina'
country[4][-1]

'argentina'

In [34]:
country

['united states',
 'united kingdom',
 ['japan', 'nigeria'],
 ['uganda', 'south africa'],
 ['russia', ['france', 'spain', 'brazil'], 'argentina'],
 'ghana']

In [35]:
country[2]

['japan', 'nigeria']

In [36]:
country[2][0]

'japan'

In [38]:
country[2][0]='china'
country[2][0]

'china'

In [44]:
country

['united states',
 'united kingdom',
 ['china', 'nigeria'],
 ['uganda', 'south africa'],
 ['russia', ['france', 'spain', 'brazil'], 'argentina'],
 'ghana']

In [45]:
country[0:2]

['united states', 'united kingdom']

In [46]:
country[2:5]

[['china', 'nigeria'],
 ['uganda', 'south africa'],
 ['russia', ['france', 'spain', 'brazil'], 'argentina']]

In [47]:
country

['united states',
 'united kingdom',
 ['china', 'nigeria'],
 ['uganda', 'south africa'],
 ['russia', ['france', 'spain', 'brazil'], 'argentina'],
 'ghana']

In [48]:
country[4]

['russia', ['france', 'spain', 'brazil'], 'argentina']

In [50]:
country[4][1]

['france', 'spain', 'brazil']

In [52]:
country[4][1][0]='libya'
country

['united states',
 'united kingdom',
 ['china', 'nigeria'],
 ['uganda', 'south africa'],
 ['russia', ['libya', 'spain', 'brazil'], 'argentina'],
 'ghana']

# h5 LIST_METHODS

In [54]:
#using the .append list method
#.append list method is used to add an element at the end of a list

student1 = ['Godwin', 24, 'Data science']
students = ['Abuja', '1.75', 'dark']
student1.append(students)

In [58]:
student1

['Godwin',
 24,
 'Data science',
 ['Abuja', '1.75', 'dark'],
 ['Abuja', '1.75', 'dark']]

In [56]:
students

['Abuja', '1.75', 'dark']

In [57]:
student1.append(students)

In [59]:
#.extend list method. it is used to add the elements of a list to the end of the current list. 

fruits = ['apple', 'banana', 'cherry']

cars = ['ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'ford', 'BMW', 'Volvo']

In [1]:
name = "i'm Ada"
print(len(name))

7

In [2]:
message = 'python is fun'
print(len(message))

13

In [8]:
print(message.upper())
print(message.lower())
print(message.title())
print(message.title())

PYTHON IS FUN
python is fun
Python Is Fun
Python Is Fun

In [9]:
fruits = 'apple', 'kiwi', 'pawpaw'
print(fruits)

('apple', 'kiwi', 'pawpaw')

In [10]:
fruits[2]

'pawpaw'

In [11]:
fruits[-2]

'kiwi'

In [12]:
Information = 'ada', 24, 'nigeria', True
print(Information)

('ada', 24, 'nigeria', True)

In [13]:
type(Information[-1])

bool

In [14]:
type(Information[1])

int

In [15]:
food = []
drinks = ['ribena', 'lucozade boost', 'chi-active', 'fresh yo']
cereal = ['cheerios', 'golden morn', 'rice krispies']
print(food)

[]

In [16]:
print(drinks)

['ribena', 'lucozade boost', 'chi-active', 'fresh yo']

In [17]:
print(cereal)

['cheerios', 'golden morn', 'rice krispies']

In [20]:
cereal = ['cheerios', 'golden morn',['cornflakes', 'granula'], 'rice krispies']

In [21]:
cereal

['cheerios', 'golden morn', ['cornflakes', 'granula'], 'rice krispies']

In [24]:
cereal[2]

['cornflakes', 'granula']

In [25]:
cereal[2][1]

'granula'

In [27]:
cereal[0:1]

['cheerios']

In [28]:
country = ['united kingdom', 'united states', ['india','egypt'],['ukraine','hungary'],['egypt', 'russia'],'nigeria','ghana']
country

['united kingdom',
 'united states',
 ['india', 'egypt'],
 ['ukraine', 'hungary'],
 ['egypt', 'russia'],
 'nigeria',
 'ghana']

In [31]:
country[2:5]

[['india', 'egypt'], ['ukraine', 'hungary'], ['egypt', 'russia']]

In [ ]:
students1 = ['moses', 24, 'data science']
students = ['abuja','1.75','dark']

In [39]:
students1

['moses', 30, 'data science', ['abuja', '1.75', 'fair']]

In [40]:
students

['abuja', '1.75', 'fair']

In [43]:
students1.append(students)

In [46]:
fruits = ['mango', 'banana', 'orange']
animals = ['dog','cat', 'antelope']
fruits.extend(animals)
fruits

['mango', 'banana', 'orange', 'dog', 'cat', 'antelope']

In [47]:
#EXAMPLE OF LISTS
ANIMALS = ['DOG', 'CAT','TIGER']
ANIMALS

['DOG', 'CAT', 'TIGER']

In [48]:
ANIMALS[2]

'TIGER'

In [49]:
ANIMALS[-1]

'TIGER'

In [50]:
COUNTRY = ['UNITED KINGDOM','UNITED STATES',['GHANA','NIGERIA'],['RUSSIA','UKRAINE'],['INDIA','EGYPT'],'CAMEROON']
COUNTRY

['UNITED KINGDOM',
 'UNITED STATES',
 ['GHANA', 'NIGERIA'],
 ['RUSSIA', 'UKRAINE'],
 ['INDIA', 'EGYPT'],
 'CAMEROON']

In [51]:
COUNTRY[2][0]

'GHANA'

In [52]:
COUNTRY[2:5]

[['GHANA', 'NIGERIA'], ['RUSSIA', 'UKRAINE'], ['INDIA', 'EGYPT']]

In [53]:
COUNTRY[2][0] = 'ALGERIA'
COUNTRY

['UNITED KINGDOM',
 'UNITED STATES',
 ['ALGERIA', 'NIGERIA'],
 ['RUSSIA', 'UKRAINE'],
 ['INDIA', 'EGYPT'],
 'CAMEROON']

In [72]:
student = ['godwin', 24,'data science']
students = ['abuja', '1.75','dark']

In [73]:
print(student)

['godwin', 24, 'data science']

In [74]:
student.append(students)

In [75]:
student

['godwin', 24, 'data science', ['abuja', '1.75', 'dark']]

In [77]:
student.extend(students)

In [79]:
print(student)

['godwin', 24, 'data science', ['abuja', '1.75', 'dark'], 'abuja', '1.75', 'dark', 'abuja', '1.75', 'dark']

In [ ]:
#using the .clear and .copy method
cars = ['toyota', 'bmw', 'ford']
new_cars = cars
new_cars

['toyota', 'bmw', 'ford']

In [82]:
new_cars.clear()

In [83]:
new_cars

[]

In [84]:
cars

[]

In [92]:
cars = ['toyota', 'bmw', 'ford']
cars

['toyota', 'bmw', 'ford']

In [93]:
cars2 = cars.copy()

In [94]:
cars2

['toyota', 'bmw', 'ford']

In [95]:
cars2.clear()

In [96]:
cars2

[]

In [97]:
cars

['toyota', 'bmw', 'ford']

In [ ]:
#using the count method
points = [1, 2, 3, 4, 5, 6, 3, 4, 5]
x = points.count(4)
print(x)

2

In [ ]:
#using the .index method
num = [4,55, 64, 32, 16, 32]

x = num.index(32)
print(x)

3

In [101]:
x = num.index(55)
print(x)

1

In [104]:
num.index(55)

1

In [108]:
num.index(32)

3

In [141]:
#using the .insert method
fruits = ['apple', 'banana', 'cherry']
fruits.insert(2, 'orange')
print(fruits)

['apple', 'banana', 'orange', 'cherry']

In [137]:
fruits = ['apple', 'banana', 'guava']
fruits.insert(3, 'grape')
print(fruits)

['apple', 'banana', 'guava', 'grape']

In [138]:
#using the .pop method
x = fruits.pop(1)
print(fruits)

['apple', 'guava', 'grape']

In [139]:
fruits.pop()
print(fruits)

['apple', 'guava']

In [144]:
fruits

['apple', 'banana', 'orange', 'cherry']

In [146]:
fruits.remove('banana')
print(fruits)

['apple', 'orange', 'cherry']

In [ ]:
#using the delete method. it also removes the specified index
new = ['rice', 'beans', 'turkey']
del new[0]
print(new)

['beans', 'turkey']

In [147]:
#using the delete keyword to delete the entire list
food = ['rice', 'beans', 'turkey']
del food

In [148]:
#the output gives an error because the variable food has been deleted
print(food)

NameError: name 'food' is not defined

In [ ]:
#using the .reverse method
food = ['rice', 'turkey', 'chicken']
food.reverse()
print(food)

['chicken', 'turkey', 'rice']

In [122]:
food.reverse()
food

['chicken', 'turkey', 'rice']

In [123]:
#using .sort method
makeup = ['powder','mascara','eyeliner','blush','lipstick','foundation','eye-pencil']
makeup.sort()
print(makeup)

['blush', 'eye-pencil', 'eyeliner', 'foundation', 'lipstick', 'mascara', 'powder']

In [125]:
makeup.sort(reverse=True)
print(makeup)

['powder', 'mascara', 'lipstick', 'foundation', 'eyeliner', 'eye-pencil', 'blush']

In [127]:
makeup.sort(reverse=False)
print(makeup)

['blush', 'eye-pencil', 'eyeliner', 'foundation', 'lipstick', 'mascara', 'powder']

In [128]:
makeup[2]

'eyeliner'

In [149]:
a = 0
b = 3
while a < b:
    print(a)
    a = a + 1

0
1
2

In [152]:
a = 0
b = 3
while a < b:
      a = a + 1
print(a)

3

In [1]:
Fruits = ['apple', 'kiwi', 'banana', 'orange']
Fruits

['apple', 'kiwi', 'banana', 'orange']

In [2]:
Fruits[1]

'kiwi'

In [3]:
Fruits[-1]

'orange'

In [5]:
Food = ['cereal', 'fruits','drinks']
Food = ['sugar',['cornflakes','golden morn','granola','quaker oat']]
print(Food)

['sugar', ['cornflakes', 'golden morn', 'granola', 'quaker oat']]

In [7]:
Food[1][1:3]

['golden morn', 'granola']

In [8]:
Drinks = ['cereal', 'fruits','coke']
Food = ['sugar',['cornflakes','golden morn','granola','quaker oat']]

In [9]:
Drinks.append(Food)

In [11]:
Drinks

['cereal',
 'fruits',
 'coke',
 ['sugar', ['cornflakes', 'golden morn', 'granola', 'quaker oat']]]

In [12]:
Drinks = ['cereal', 'fruits','coke']

In [13]:
Drinks.clear()
print(Drinks)

[]

In [14]:
Drinks

[]

In [16]:
Food = ['sugar',['cornflakes','golden morn','granola','quaker oat']]
new_food = Food.copy()

In [17]:
new_food

['sugar', ['cornflakes', 'golden morn', 'granola', 'quaker oat']]

In [21]:
Food = ['sugar',['cornflakes','golden morn','granola','quaker oat']]
Food.count('sugar')

1

In [25]:
numbers = (2, 5, 2, 4, 6, 6, 8, 6, 10)
numbers.count(6)

3

In [26]:
Drinks = ['cereal', 'fruits','coke']
Food = ['sugar',['cornflakes','golden morn','granola','quaker oat']]
Drinks.extend(Food)

In [27]:
Drinks

['cereal',
 'fruits',
 'coke',
 'sugar',
 ['cornflakes', 'golden morn', 'granola', 'quaker oat']]

In [28]:
Drinks = ['cereal', 'fruits','coke']
Drinks.index('fruits')

1

In [33]:
Drinks

['cereal', 'fruits', 'corn', 'coke']

In [40]:
Drinks.insert(2, 'corn')

In [41]:
Drinks

['cereal', 'corn', 'corn']

In [35]:
Drinks.pop(1)

'fruits'

In [37]:
Drinks.remove('coke')

In [9]:
Food = ['sugar','cornflakes','golden morn','granola','quaker oat']
#Food.reverse()

In [10]:
Food

['sugar', 'cornflakes', 'golden morn', 'granola', 'quaker oat']

In [11]:
Food.sort()

In [12]:
Food

['cornflakes', 'golden morn', 'granola', 'quaker oat', 'sugar']

In [15]:
Food.sort(reverse=True)

In [16]:
Food

['sugar', 'quaker oat', 'granola', 'golden morn', 'cornflakes']